span#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    display: block;
}

#logo-img {
    height: 7vh;
    bottom: auto;
}

@media only screen and (max-width: 450px) {
  
}