:root {
  --grey: #e7e7e7;
  --yellow-grey: #c3c3c3;
}

.report {
  text-align: center;
}

.report-showcase-section {
  display: inline-block;
}

#datepick-row th {
  border-bottom: none;
}

#datepick-row input {
  text-align: center;
}

.export-report {
  margin: 4em 3em 0em 3em;
  background: var(--grey);
  border: 1px solid var(--yellow-grey);
}

.date-range {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.date-range:hover {
  text-decoration: underline;
  cursor: pointer;
}

.date-range:focus {
  color: #1087ff;
}

.report.table-section {
  text-align: left;
}

.report.table-section.table-row.false {
  background-color: #d9b3b3;
}

.report.table-section.emp-name {
  font-weight: bold;
}

.report.check-status.false{
  color: black;
  font-weight: initial;
}
.report.check-status.true{
  color: red;
  font-weight: bold;
}

.report.table-section.time-stamp-cell label {
  white-space: pre-wrap;
}
.report.table-section.time-stamp-cell label:hover{
  font-style: italic;
  text-decoration: line-through;
  color: red;
  cursor: pointer;
}

.report.table-section.total-cell {
  text-align: center;
  color: #d10000;
}
.report.group-total {
  color: #d10000;
  font-weight: bold;
}

.report.table-section.date-cell {
  text-align: center;
}
.report.table-section.date-cell.date-part {
  margin-left: 0.6em;
}
.report.table-section.date-cell.add-record-part {
  margin-bottom: 1em;
}
.report.table-section.date-cell.add-record-part:hover {
  color: #d10000;
}
.report.table-section.date-cell span:hover {
  color: #d10000;
}
.report.table-section.date-cell.date-part:hover {
  text-decoration: line-through;
  font-style: italic;
  font-weight: bold;
}

.report .report-option {
  display: inline-flex;
}
.report .report-option div {
  white-space: break-spaces;
}
.report .report-option a {
  color: white;
  text-decoration: none;
}

.modal-header {
  justify-content: center;
}

.add-record.table-head {
  border-bottom: none;
}

.add-record.table input {
  text-align: center;
}

@media only screen and (max-width: 450px) {
  .report.table-section.compare-part {
    display: none;
  }
  .report.table-section.schedule-part {
    display: none;
  }
  .export-report {
    margin: 0px;
  }
}
