.schedule.showcase-section {
  display: inline-flex;
  text-align: center;
}

#schedule-table {
  text-align: center;
  margin: 4em 3em 0em 3em;
  background: var(--grey);
  border: 1px solid var(--yellow-grey);
}

.schedule.cell-table::-webkit-scrollbar {
  background: none;
  width: 90%;
}
.schedule.cell-table {
  width: 90vw;
  overflow-x: auto;
  background: none;
}

table.schedule.in-cell-table::-webkit-scrollbar {
  width: 90%;
}

.schedule.in-cell-table tbody {
  display: table-row-group;
  width: 100%;
}

.schedule.wrapper {
  transform: rotateX(180deg);
  overflow-x: auto;
}
.schedule.in-cell-table{
  transform: rotateX(180deg);
  margin: 0 auto
}

.schedule.in-cell-table th {
  min-width: 8em;
}

.schedule .btn.btn-primary {
  border-radius: 0px;
}

button.schedule.group-option {
  background: none;
  color: blue;
  border: none;
  padding: 0;
  font-weight: bold;
  text-decoration: underline;
  margin-right: 5em;
  margin-left: 5em;
}

small.status {
  color: red;
}

.schedule.option {
  display: inline-flex;
}

.schedule.group-name:hover {
  color: red;
  text-decoration: underline line-through;
  font-style: italic;
  cursor: pointer;
}

.form-select {
  text-align: center;
}

input.schedule.form-control {
  text-align: center;
}

.schedule.calendar td input {
  text-align: center !important;
}

@media only screen and (max-width: 450px) {
  .csv-import-cell {
    display: none
  }
  #schedule-table {
    margin: 0;
  }

  .schedule.showcase tr {
    align-items: center;
  }

}