.todo.showcase-section {
  display: inline-flex;
  text-align: center;
}

#todo-table {
  text-align: center;
  margin: 4em 3em 0em 3em;
  background: var(--grey);
  border: 1px solid var(--yellow-grey);
}

@media only screen and (max-width: 450px) {
  #todo-table {
    margin: 0;
  }
  .todo.date {
    display: none
  }
  .todo.complete {
    display: none
  }
  .todo.delete {
    display: none
  }
  .todo.complete {
    display: none
  }}
  .todo.sender{
    width: 20%;
  }
  .todo.rec{
    width: 20%
  }
