.todo.showcase-section {
  display: inline-flex;
  text-align: center;
}

#todo-table {
  text-align: center;
  margin: 4em 3em 0em 3em;
  background: var(--grey);
  border: 1px solid var(--yellow-grey);
}

.todo.date {
  width: 10%;
}
.todo.sender {
  width: 10%;
}
.todo.rec {
  width: 10%;
}
.todo.mess {
  width: 50%;
}
.todo.delete {
  width: 10%;
}
.todo.complete {
  width: 10%;
}


@media only screen and (max-width: 850px) {
  #todo-table {
    margin: 0;
  }
  .todo.date {
    display: none;
  }
  .todo.complete {
    display: none;
  }
  .todo.delete {
    display: none;
  }
  .todo.complete {
    display: none;
  }
}

